<ion-header>
	<ion-navbar>
		<ion-title>Unidades</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>

	<ion-list *ngIf="isNew">
		<ion-item>
			<ion-label>Ubicacion</ion-label>
			<ion-select [(ngModel)]="location">
				<ion-option value="" selected disabled>Ninguna opcion seleccionada</ion-option>
				<ion-option *ngFor="let location of getLocations() | async" value="{{location._id}}">{{location.name}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>Fecha Caducidad</ion-label>
			<ion-input type="date" [(ngModel)]="expirationDate"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Cantidad</ion-label>
			<ion-input type="number" [(ngModel)]="quantity"></ion-input>
		</ion-item>
		<ion-item>
			<button ion-button color="secondary" (click)="save()" [disabled]="!validate()">Guardar</button>
			<button ion-button color="danger" (click)="cancel()">Cancelar</button>
		</ion-item>
	</ion-list>

	<ion-list *ngIf="!isNew">
			<unit-component *ngFor="let unit of getUnits() | async | filter : 'product' : getSelectedProduct() | orderByDate : 'expirationDate'" [unit]="unit"></unit-component>
	</ion-list>

	<div class="emptyMarginBottom"></div>
	
	<ion-fab right bottom>
		<button ion-fab (click)="openCreateNewUnit()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>

</ion-content>
