.check-image {
	position: absolute;
    z-index: 1000;
    right: 0;
    color: #488aff;
}

.loader-subiendo-imagen::after {
	content: '.';
	animation: addUploadImage 2s linear infinite;
}

@keyframes addUploadImage {
  0% {
    content: '.';
  }
  50% {
    content: '..';
  }
  100% {
    content: '...';
  }
}