<ion-item [ngClass]="getStatus(unit.expirationDate)">
	<ion-row align-items-center (pan)="panEvent($event)" (click)="clickEvent($event)">
		<ion-col col-5>
			<h2>{{getLocationById(unit.location).name}}</h2>
			<h2 class="font-ligth">{{unit.expirationDate | timeToEnd}}</h2>
			<h2 class="font-ligth">{{unit.expirationDate | date: 'dd/MM/yyyy'}}</h2>
		</ion-col>
		<ion-col col-5>
			<ion-row align-items-center>
				<ion-col col-4>
					<button ion-button icon-only small (click)="addQuantityLess(unit)">
						<ion-icon name="md-remove"></ion-icon>
					</button>
				</ion-col>
				<ion-col col-4 text-center class="font-ligth">
					{{unit.quantity}}
				</ion-col>
				<ion-col col-4>
					<button ion-button icon-only small (click)="addQuantityPlus(unit)">
						<ion-icon name="md-add"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
	<div class="menu" *ngIf="showMenu">
		<div><ion-icon name="create"></ion-icon></div>
		<div><ion-icon name="close"></ion-icon></div>
	</div>
</ion-item>