<ion-header>
	<ion-navbar>
		<ion-title>
			Categorias
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<div *ngIf="selectingImage">
		<galery (selectedImage)="addImage($event)" (closeGalery)="closeGalery($event)" [btnClose]="true"></galery>
	</div>

	<!-- <div *ngIf="count | async">No hay categorias creadas</div> -->

	<ion-list *ngIf="!selectingImage">

		<ion-item *ngIf="createNewCategory" class="active">
			<ion-avatar item-start>
				<img (click)="openGalery()" src="{{image ? image.location : 'http://via.placeholder.com/1000x1000'}}">
			</ion-avatar>
			<h2>
				<input class="input" type="text" [(ngModel)]="name" placeholder="Nombre">
			</h2>
			<h2>
				<button right ion-button (click)="create()" [disabled]="!validate()">Guardar</button>
				<button right ion-button color="danger" (click)="cancel()">Cancelar</button>
			</h2>
		</ion-item>

		<ion-item *ngFor="let category of getCategories() | async" (click)="navigateToProducts(category._id)">
			<ion-avatar item-start>
				<img src="{{getImageLocation(category.image)}}">
			</ion-avatar>
			<h2>{{category.name}}</h2>
			<h3>Productos: {{getCountProductsInCategory(category._id)}}</h3>
		</ion-item>
	</ion-list>
	<ion-fab right bottom *ngIf="!selectingImage">
		<button ion-fab (click)="openCreateNewCategory()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
	
</ion-content>


<!-- <ng-template #elseBlock>Alternate text while primary text is hidden</ng-template> -->



