<ion-header>
	<ion-navbar>
		<ion-title>Productos</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="card-background-page">

	<ion-card *ngIf="appMemoriaService.productosCount == 0">
		<ion-card-content>
			No hay elementos que mostrar.
		</ion-card-content>
	</ion-card>

	<ion-searchbar (ionInput)="setSearchFilter($event)"></ion-searchbar>

	<ion-card *ngFor="let producto of appMemoriaService.productos 
	| async
	| filterByName : 'nombre' : filter
	" (click)="navigateToArticulosPage(producto['_id'])">
		<img src="{{ config.serverUrl + producto.imagen}}">
		<div class="card-title">{{producto.nombre}}</div>
		<div class="card-subtitle">{{producto.codigo}}</div>
		<div class="card-count" ion-fab>{{appMemoriaService.getCountArticulosByProducto(producto._id)}}</div>
	</ion-card>
	
	<div class="separador"></div>

	<ion-fab right bottom>
		<button ion-fab (click)="navigateToAddArticuloPage()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>

</ion-content>