// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: light;
  src: url("../assets/fonts/Open_Sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: italic;
  src: url("../assets/fonts/Open_Sans/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: regular;
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

.font-ligth {
  font-family: 'light', sans-serif;
}

.toolbar-title-md {
  font-family: 'light', sans-serif;
  text-align: center;
}

.back-button.show-back-button {
  font-size: 1rem;
  position: absolute;
  z-index: 1001;
}

input
{
  font-family: 'light', sans-serif;
  font-size: 1.4rem !important;
  background: transparent;
  border: none;
}

ion-content {
  background-color: #F4F4F7 !important;
}

.list-md ion-item-sliding {
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

ion-item-sliding.active {
  margin-bottom: 2rem;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25);
}

ion-item-sliding {
  width: auto;
  margin: 0 1rem;
}

.item-md {
  // margin-bottom: 1rem;
  // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.item-md.active {
  margin-bottom: 2rem;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25);
}

.list-md .item-block .item-inner {
  border: none;
}

.loader-item::after {
	content: '.';
	animation: addLoanding 2s linear infinite;
}

.emptyMarginBottom {
  margin-bottom: 7rem;
}

@keyframes addLoanding {
  0% {
    content: '.';
  }
  50% {
    content: '..';
  }
  100% {
    content: '...';
  }
}