.bg-green {
	background-color: #AED581;
}

.bg-red {
	background-color: #FF8A80;
}

.bg-orange {
	background-color: #FFE0B2;
}

.separador {
  height: 15%;
}

.underline {
	text-decoration: underline;
}