<ion-item-sliding #item (click)="navigateToUnits()" *ngIf="!editing">
	<ion-item [ngClass]="getStatus(unit.expirationDate)">
		<ion-row align-items-center>
			<ion-col col-7>
				<h2>{{getLocationById(unit.location).name}}</h2>
				<h2 class="font-ligth">{{unit.expirationDate | date: 'dd/MM/yyyy'}}</h2>
				<h2 class="font-ligth">{{unit.expirationDate | timeToEnd}}</h2>
			</ion-col>
			<ion-col col-5>
				<ion-row align-items-center>
					<ion-col col-4>
						<button ion-button icon-only small (click)="addQuantityLess(unit)">
							<ion-icon name="md-remove"></ion-icon>
						</button>
					</ion-col>
					<ion-col col-4 text-center class="font-ligth">
						{{unit.quantity}}
					</ion-col>
					<ion-col col-4>
						<button ion-button icon-only small (click)="addQuantityPlus(unit)">
							<ion-icon name="md-add"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-item>
	<ion-item-options side="left">
		<button ion-button clear small color="danger" (click)="delete($event, item)">
			<ion-icon name="trash" style="padding-bottom: 0; font-size: 2em;"></ion-icon>
		</button>
	</ion-item-options>
</ion-item-sliding>