<ion-header>
	<ion-navbar>
		<ion-title>Productos</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-row>
		<ion-col col-6 *ngFor="let product of memoryService.get('products') | async">
			<ion-card>
				<img src="{{getProductImage(product.image)}}"/>
				<ion-card-content>
					<ion-card-title>
						{{product.name}}
					</ion-card-title>
					<p class="code">
						{{product.code}}
					</p>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-fab right bottom>
		<button ion-fab (click)="navigateToAddProduct()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>

<!-- <ion-header>
	<ion-navbar>
		<ion-title>Productos</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="card-background-page">

	<ion-card *ngIf="appMemoriaService.productosCount == 0">
		<ion-card-content>
			No hay elementos que mostrar.
		</ion-card-content>
	</ion-card>

	<ion-searchbar (ionInput)="setSearchFilter($event)"></ion-searchbar>

	<ion-card *ngFor="let producto of appMemoriaService.productos 
	| async
	| filterByName : 'nombre' : filter
	" (click)="navigateToArticulosPage(producto['_id'])">
		<img src="{{ config.serverUrl + producto.imagen}}">
		<div class="card-title">{{producto.nombre}}</div>
		<div class="card-subtitle">{{producto.codigo}}</div>
		<div class="card-count" ion-fab>{{appMemoriaService.getCountArticulosByProducto(producto._id)}}</div>
	</ion-card>
	
	<div class="separador"></div>

	<ion-fab right bottom>
		<button ion-fab (click)="navigateToAddArticuloPage()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>

</ion-content> -->