<ion-item-sliding #item (click)="navigateToUnits()" *ngIf="!editing">
	<ion-item>
		<ion-thumbnail item-start>
			<img src="{{getImageLocation(product.image)}}">
		</ion-thumbnail>
		<h2>{{product.name}}</h2>
		<p>{{product.code}}</p>
		<p>Unidades: {{getUnitsCountByIdProduct(product._id)}}</p>
	</ion-item>
	<ion-item-options side="left">
		<button ion-button clear small color="danger" (click)="delete($event, item)">
			<ion-icon name="trash" style="padding-bottom: 0; font-size: 2em;"></ion-icon>
		</button>
	</ion-item-options>
	<ion-item-options side="right">
		<button ion-button clear small (click)="update($event, item)">
			<ion-icon name="create" style="padding-bottom: 0; font-size: 2em;"></ion-icon>
		</button>
	</ion-item-options>
</ion-item-sliding>

<ion-item *ngIf="editing">
	<ion-thumbnail item-start (click)="selectImage()">
		<img src="{{getSelectedImage() | async}}">
	</ion-thumbnail>
	<h2>
		<input class="input" type="text" [(ngModel)]="productEditing.name" placeholder="Nombre" style="width: 100%;">
	</h2>
	<p>
		<input class="input" (click)="loadCode()" type="text" [(ngModel)]="productEditing.code" placeholder="Código">
	</p>
	<h2>
		<button right ion-button (click)="saveUpdate($event)">Guardar</button>
		<button right ion-button color="danger" (click)="cancel($event)">Cancelar</button>
	</h2>
</ion-item>

